<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" package="com.thepagedot.irmgard" android:versionName="0.0.1">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="21" />
	<application android:label="IRMGARD" android:theme="@style/IrmgardTheme" android:icon="@drawable/icon"></application>
</manifest>