<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.thepagedot.irmgard" android:versionName="1.1.0" android:versionCode="11" android:installLocation="auto">
	<uses-permission android:name="com.android.vending.CHECK_LICENSE" />
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22" />
	<application android:label="IRMGARD" android:theme="@style/IrmgardTheme" android:icon="@drawable/Icon">
		<meta-data android:name="obbMainVersionCode" android:value="11" />
		<meta-data android:name="obbPatchVersionCode" android:value="11" />
	</application>
</manifest>